.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

.hero {
    position: relative;
    min-height: 840px;
    height: 100dvh;
    padding-top: 130px;
    @include adaptive-value("padding-bottom", 100, 85, 1);
    background-color: $black;
    overflow: hidden;

    &_bg {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }

    &_bg_2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 2;
    }

    .container {
        max-width: 1224px;
        height: 100%;
    }

    &_inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        position: relative;
        z-index: 5;
        height: 100%;
    }

    &_logo {
        display: flex;
        align-items: center;
        gap: 12px;
        color: $white;
        font-size: 24px;
        font-weight: 500;
    }

    &_text {
        text-align: center;
    }

    &_title {
        color: $white;
        @include adaptive-value("margin-bottom", 20, 16, 1);
        @include adaptive-value("font-size", 70, 40, 1);
        @include letter-spacing-percent(-4);
        font-weight: 600;
        line-height: calc(76 / 72);
    }

    &_description {
        color: $blue-200;
        @include adaptive-value("font-size", 20, 18, 1);
        @include letter-spacing-percent(-2);
        line-height: calc(24 / 20);
        max-width: 755px;
        width: 100%;
        margin: 0 auto;
        @include adaptive-value("margin-bottom", 36, 40, 1);
    }

    &_btn {
        width: 180px;
    }
}

.optimization {
    position: relative;
    @include adaptive-value("padding-top", 100, 90, 1);
    @include adaptive-value("padding-bottom", 100, 85, 1);

    &_bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
    }

    .container {
        max-width: 800px;
    }

    &_inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @include adaptive-value("row-gap", 340, 200, 1);
        position: relative;
        z-index: 5;
        height: 100%;
        text-align: center
    }

    &_title {
        @include adaptive-value("font-size", 58, 32, 1);
        font-weight: 500;
        @include letter-spacing-percent(-5);
        line-height: calc(64 / 58);
        color: transparent;
        background: linear-gradient(90deg, #121212 0%, #45CDFF 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 24px;

        @include media ("<phone") {
            @include letter-spacing-percent(-4);
        }

        &.bottom_title {
            background: linear-gradient(90deg, #FFFFFF 0%, #45CDFF 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &_description {
        @include adaptive-value("font-size", 24, 18, 1);
        line-height: calc(28 / 24);
        font-weight: 500;
        color: #414141;

        &.bottom_description {
            color: #A1ADB1;
        }
    }

    &_bottom {

        &_image {
            max-width: 331px;
            width: 100%;
            margin: 0 auto;
            @include adaptive-value("margin-bottom", 52, 44, 1);

            @include media ("<phone") {
                max-width: 300px;
            }
        }
    }
}

.private {
    position: relative;
    height: 200vh; // важное!

    background-color: #D1E3E9;
    @include adaptive-value("padding-top", 100, 85, 1);
    @include adaptive-value("padding-bottom", 100, 30, 1);

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200vh; // фон скролится
        background-image: url('/images/private-bg.png');
        background-size: cover;
        background-position: center;
        z-index: 1;
    }

    &_inner {
        position: sticky; // <-- sticky должно быть здесь!
        z-index: 5;
        top: 25px;
        height: 100vh; // фиксируем на весь экран
        text-align: center;
        max-width: 765px;
        width: 100%;
        padding: 0 16px;
        margin: 0 auto;
        margin-bottom: 300px;
    }

    &_image {
        max-width: 430px;
        width: 100%;
        margin: 0 auto;
        @include adaptive-value("margin-bottom", 112, 16, 1);

        @include media ("<phone") {
            max-width: 300px;
        }
    }

    &_title {
        background: linear-gradient(90deg, #121212 0%, #45CDFF 100%);
        @include adaptive-value("font-size", 58, 32, 1);
        font-weight: 500;
        @include letter-spacing-percent(-5);
        line-height: calc(64 / 58);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 24px;
    }

    &_description {
        @include adaptive-value("font-size", 24, 18, 1);
        line-height: calc(28 / 24);
        font-weight: 500;
        color: #414141;
    }
}

.future {
    @include adaptive-value("margin-top", -325, -525, 1);
    @include adaptive-value("padding-bottom", 100, 0, 1);
    position: relative;
    z-index: 6;

    &_bg {
        width: 100%;
        min-height: 550px;
        height: 100%;
        object-fit: cover;
    }

    &_inner {
        text-align: center;
        position: relative;
        border-radius: 40px;
        overflow: hidden;
        padding: 100px 20px;
        box-shadow: 0px 2px 12px 0px #20426C40;
        background: linear-gradient(164.93deg, rgba(63, 186, 231, 0.36) -23.13%, rgba(0, 0, 0, 0.108) 105.36%, rgba(0, 0, 0, 0.36) 143.77%);


        &_bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &_text {
            position: relative;
            z-index: 5;
            max-width: 650px;
            width: 100%;
            margin: 0 auto;
        }
    }

    &_title {
        @include adaptive-value("font-size", 42, 26, 1);
        font-weight: 500;
        line-height: calc(48 / 42);
        color: #F6F9FB;
        margin-bottom: 16px;
    }

    &_description {
        @include adaptive-value("font-size", 20, 16, 1);
        line-height: calc(24 / 20);
        color: #A1ADB1;
        margin-bottom: 24px;
        font-weight: 500;
        @include adaptive-value("margin-bottom", 32, 40, 1);
    }

    &_btn {
        width: 180px;
    }
}