<footer id="footer" class="footer">
    <img class="footer_bg" src="./images/footer-bg.png" alt="footer-bg" width="100%" height="463">
    <div class="container">
        <div class="footer_inner">
            <div class="footer_logo">
                <img src="./images/footer-logo.png" alt="Lugano.AI" width="495" height="316">
            </div>
            <p class="footer_description">
                The Privacy Protocol for the <br> Intelligent Internet
            </p>
            <div class="footer_links">
                <p class="footer_links_item">© <span class="footer_links_item_year"></span> Lugano
                    Labs</p>
                <p class="footer_links_item">Privacy & Trust by Design</p>
                <a href="mailto:contact@lugano.ai" class="footer_links_item">Contact Us</a>
            </div>
        </div>
    </div>
</footer>