<header id="header" class="header">
    <div class="header_inner">
        <div class="header_actions">
            <button class="header_burger">
                <span class="header_burger_line"></span>
                <span class="header_burger_line"></span>
                <span class="header_burger_line"></span>
            </button>
            <div class="header_logo">
                <img src="./images/logo.png" alt="Lugano.AI" width="33" height="44">
            </div>
        </div>
        <nav class="header_nav">
            <ul class="header_nav_list">
                <li class="header_nav_item">
                    <a href="#enterprise" class="header_nav_link">Enterprise</a>
                </li>
                <li class="header_nav_item">
                    <a href="#private-ai" class="header_nav_link">Private AI</a>
                </li>
                <li class="header_nav_item">
                    <a href="#developers" class="header_nav_link">Developers</a>
                </li>
            </ul>
        </nav>
        <a href="mailto:contact@lugano.ai" class="header_btn btn btn_white">Contact Us</a>
    </div>
</header>