.btn {
    display: inline-block;
    font-weight: 600;
    @include adaptive-value("font-size", 18, 16, 1);
    letter-spacing: -0.02em;
    color: $blue-15;
    border: none;
    cursor: pointer;
    outline: none;
    margin: 0;
    transition: all 0.3s ease;
    line-height: 100%;
    text-align: center;

    &_primary {
        border: 4px solid #FFFFFF66;
        padding: 16px;
        border-radius: 20px;
        color: #040404;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 15.5px;
            z-index: -1;
            background: linear-gradient(90deg, #FFFFFF 0%, #45CDFF 100%);
        }

        &::after {
            content: '';
            position: absolute;
            top: -1px;
            left: -5px;
            width: 105%;
            height: 105%;
            border-radius: 20px;
            z-index: -1;
            box-shadow: 0px 15.29px 15.29px 0px #00ABD62B;
        }

        &:hover {
            border-color: #F6F9FB;
            transition: all 0.3s ease;
        }

    }

    &_white {
        background-color: $white;
        border-radius: 12px;
        box-shadow: 0px 10.7px 23.97px 0px #00000059;
        padding: 14px;

        &:hover{
            background-color: $blue-300;
            transition: all 0.3s ease;
        }
    }
}